{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="form-group row">
                        <h1>Cadastro de Evento</h1>
        <form>
            <div class="form-group">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Create" />
                        {{ form_end(form) }}
                            <ul>
                                <li>
                                    <a href="{{ path('evento_index') }}">Back to the list</a>
                                </li>
                            </ul>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
