{% extends 'layout.html.twig' %}
{% block content %}
		<section id="container">
			<div class="wrap-container">
				<!-----------------Content-Box-------------------->
				<article class="single-post zerogrid">
					<div class="row wrap-post"><!--Start Box-->
						<div class="entry-header">
							<h1 class="entry-title">Sobre o Barsília</h1>
						</div>
						<div class="post-thumbnail-wrap">
							<img src="{{  asset('images/logo2.png') }}">
						</div>
						<div class="entry-content">
							<div class="excerpt"><p>
							Barsília é um portal interativo onde você pode avaliar ou consultar uma avaliação de algum estabelecimento de entretenimento de Brasília.
							</p>
							<p>
							Os usuários do Barsília podem cadastrar estabelecimentos e eventos para divulgação online e avaliações de clientes
							</p>
							<p>
							O diferencial do Barsília em relação à outros portais é a regionalidade, a facilidade de divulgação e facilidade de uso.
							</p>
							<img align="center" src="{{  asset('images/cheers.png') }}">
							  <div class="clear"></div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</section>
{% endblock %}
